/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: theme('colors.brand');
}
::selection {
  background: theme('colors.brand');
}

html {
  @apply font-sans;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  @apply bg-lightbg dark:bg-darkbg dark:text-white text-gray-900 bg-fixed;
}

h1 {
  @apply lg:text-6xl text-4xl;
}
h2 {
  @apply lg:text-5xl text-3xl;
}
h3 {
  @apply lg:text-4xl text-2xl;
}

b,
strong {
  @apply font-bold;
}

@layer base {
  .layout {
    @apply px-6 mx-auto w-full max-w-6xl;
  }

  .link-overlay {
    @apply relative;
  }

  .link-overlay a.link:before {
    @apply absolute top-0 right-0 bottom-0 left-0 z-10 cursor-pointer;
    content: '';
  }
}

.caption a {
  @apply underline;
}

.prose {
  img + span {
    @apply lg:-mt-6 block -mt-4 text-sm font-medium leading-tight text-gray-500;
  }
}

body > svg {
  @apply -z-10 overflow-visible fixed top-0 right-0 bottom-0 left-0 w-screen h-screen opacity-40;
}
