/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: theme('colors.brand');
}
::selection {
  background: theme('colors.brand');
}

html {
  @apply font-sans;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11' off;
}

body {
  @apply bg-fixed bg-lightbg text-gray-900 dark:bg-darkbg dark:text-white;
}

h1 {
  @apply text-4xl lg:text-6xl;
}
h2 {
  @apply text-3xl lg:text-5xl;
}
h3 {
  @apply text-2xl lg:text-4xl;
}

b,
strong {
  @apply font-bold;
}

@layer base {
  .layout {
    @apply max-w-6xl mx-auto px-6 w-full;
  }

  .link-overlay {
    @apply relative;
  }

  .link-overlay a.link:before {
    @apply absolute bottom-0 cursor-pointer left-0 right-0 top-0 z-10;
    content: '';
  }
}

.caption a {
  @apply underline;
}

.prose {
  img + span {
    @apply -mt-4 block font-medium leading-tight text-gray-500 text-sm lg:-mt-6;
  }
}

body > svg {
  @apply -z-10 bottom-0 fixed h-screen left-0 opacity-40 overflow-visible right-0 top-0 w-screen;
}
