/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-moz-selection {
    background: theme('colors.brand');
  }
  ::selection {
    background: theme('colors.brand');
  }

  html {
    @apply font-sans;
    font-feature-settings: 'case', 'calt', 'cv01', 'cv02', 'cv03', 'cv04',
      'cv11' off, 'tnum' off;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-padding-top: 5rem;
  }

  body {
    @apply bg-lightbg bg-fixed tracking-tighter text-darkbg dark:bg-darkbg dark:text-lightbg;

    &:before {
      @apply absolute h-[20rem] w-full bg-gradient-to-b from-gray-50 to-lightbg content-[""] dark:from-gray-900 dark:to-darkbg;
    }
  }

  h1 {
    @apply font-head text-4xl lg:text-6xl;
  }
  h2 {
    @apply font-head text-3xl lg:text-5xl;
  }
  h3 {
    @apply font-head text-2xl lg:text-4xl;
  }

  b,
  strong {
    @apply font-bold;
  }

  .link-overlay {
    @apply relative;
  }

  .link-overlay a.link:before {
    @apply absolute bottom-0 left-0 right-0 top-0 z-10 cursor-pointer content-[''];
  }

  .shadow-solid {
    box-shadow: 6px 6px 0 theme('colors.darkbg');
  }

  .dark .shadow-solid {
    box-shadow: 6px 6px 0 theme('colors.lightbg');
  }
}

.caption a {
  @apply underline;
}

.prose p:first-of-type {
  margin-top: 0;
}

.prose {
  figure {
    @apply !m-0;
  }
}

body > svg {
  @apply fixed bottom-0 left-0 right-0 top-0 -z-10 h-screen w-screen overflow-visible opacity-40;
}

.add-comma {
  span:not(:last-child):after {
    @apply content-['_·_'];
  }
}

.notion-callout {
  @apply relative rounded-lg border-2 border-gray-500/20 bg-gray-500/20 p-6 pl-10;

  .notion-emoji {
    @apply absolute left-0 top-1/2 flex h-[1.75em] w-[1.75em] -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full border-2 border-gray-500/30 bg-lightbg text-3xl dark:bg-darkbg;
  }
}

.notion-gray_background {
  @apply border-gray-500/10 bg-gray-500/10;
  .notion-emoji {
    @apply border-gray-500/10;
  }
}
.notion-amber_background {
  @apply border-amber-500/10 bg-amber-500/10;
  .notion-emoji {
    @apply border-amber-500/10;
  }
}
.notion-orange_background {
  @apply border-orange-500/10 bg-orange-500/10;
  .notion-emoji {
    @apply border-orange-500/10;
  }
}
.notion-yellow_background {
  @apply border-yellow-500/10 bg-yellow-500/10;
  .notion-emoji {
    @apply border-yellow-500/10;
  }
}
.notion-green_background {
  @apply border-green-500/10 bg-green-500/10;
  .notion-emoji {
    @apply border-green-500/10;
  }
}
.notion-teal_background {
  @apply border-teal-500/10 bg-teal-500/10;
  .notion-emoji {
    @apply border-teal-500/10;
  }
}
.notion-blue_background {
  @apply border-blue-500/10 bg-blue-500/10;
  .notion-emoji {
    @apply border-blue-500/10;
  }
}
.notion-purple_background {
  @apply border-purple-500/10 bg-purple-500/10;
  .notion-emoji {
    @apply border-purple-500/10;
  }
}
.notion-pink_background {
  @apply border-pink-500/10 bg-pink-500/10;
  .notion-emoji {
    @apply border-pink-500/10;
  }
}
.notion-red_background {
  @apply border-red-500/10 bg-red-500/10;
  .notion-emoji {
    @apply border-red-500/10;
  }
}

.notion-row {
  display: flex;
  overflow: hidden;
  .notion-spacer:last-of-type {
    @apply hidden;
  }
}

.notion-column {
  padding-top: 12px;
  padding-bottom: 12px;
}

[data-rmiz-modal-content] {
  figcaption {
    @apply p-2 text-xs;
    color: var(--tw-prose-captions);
  }
}
